.submit-orders.account .uploads {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.submit-orders.account .uploads .input_group {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
.submit-orders.account textarea {
  border-radius: 1px;
  
}
.submit-orders.account textarea:focus {
  border: 1px solid var(--pinkRed);
}
.submit-orders.account input {
  border: 1px solid var(--gray);
  padding: 10px;
}
.submit-orders.account.modal select {
  width: 100%;
  cursor: pointer;
  height: 40px;
  border: 1px solid var(--gray);
  outline: none;
}
.submit-orders.account.modal select:focus {
  border: 1px solid var(--pinkRed);
}
.submit-orders.account .row-buttons{
  display:flex;
  justify-content:center;
  width:100%;
}
.modal-wrapper.account{
  max-width:1000px;
}
.submit-orders.account .input_group{
  position: relative;
}