.share-blog-modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display:none;
}
.share-blog-modal.active{
    display:flex;
}
.share-blog-modal .modal-body {
  max-width: 400px;
  width: 95%;
  opacity:0;
  transition:all 1s;
}
.share-blog-modal .modal-body.active{
    opacity:1;
}
.share-blog-modal .modal-body .flex {
  justify-content: space-between;
  align-items: center;
}
.share-blog-modal .modal-body .flex i {
  font-size: 2rem;
  cursor: pointer;
  padding:1rem;
}
.share-blog-modal .modal-body .flex p:hover{
    color:var(--blue);
}
.share-blog-modal .close-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
